@import "maplibre-gl/dist/maplibre-gl.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0a0a0a;
}

.maplibregl-ctrl-attrib,
.maplibregl-ctrl-attrib a {
  color: #d4d4d4;
}
